{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EltonShotIt</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href={% static 'assets/img/portfolio/im1.png' %} rel="icon">
  <link href={% static 'assets/img/portfolio/logo.jpg' %} rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href={% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} rel="stylesheet">
  <link href={% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} rel="stylesheet">
  <link href={% static 'assets/vendor/boxicons/css/boxicons.min.css' %} rel="stylesheet">
  <link href={% static 'assets/vendor/glightbox/css/glightbox.min.css' %} rel="stylesheet">
  <link href={% static 'assets/vendor/remixicon/remixicon.css' %} rel="stylesheet">
  <link href={% static 'assets/vendor/swiper/swiper-bundle.min.css' %} rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href={% static 'assets/css/style.css' %} rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1 ><a class="hey" href="index.html">EltonShotIt</a>
        <a href={% url 'index' %} class="mr-auto" ><img src={% static 'assets/img/portfolio/im1.png' %} alt="" class="img-fluid aut"></a>
      </h1>
      {% comment %} <h2 class="model"><a class="nav-link" href="{% url 'form' %}">Become a model</a></h2> {% endcomment %}
      <h2 class="model"><a class="nav-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdd5b7dqCoQM9Ul484WHAGiEP--KeGd3dzBolU0oAVsHNOatA/viewform">Become a model</a></h2>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a id="home" class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#models">Models</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

      
      <div class="social-links">
        <a href="https://www.tiktok.com/@eltonshotitagency" target="_blank" class="twitter"><i class="bi bi-tiktok"></i></a>
        <a href="https://web.facebook.com/profile.php?id=61550317344313" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/eltonshotit/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <br>
      </div>

  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>ABOUT  Us</h3>
          <p class="fst-italic">
            Our agency represents a diverse array of models who excel not only in the fashion runway and editorial work but also in film, television, and commercial projects. Whether you're looking for fresh faces for movies, short films, business advertisements, or captivating scenes, EltonShotit delivers top-tier models that bring unmatched charisma and versatility to any production.
          </p>
          <p>
            EltonShotit Model T.Agency is a leading Model Agency dedicated to discovering,deveand showcasing Exceptional talent .
            Founded in 2023/2024 ,The agency established itself as a driving force in the Fashion industry.
          </p>
        </div>
      </div> 

    </div><!-- End About Me -->

    <!-- ======= Counts ======= -->
    <div class="counts container">

      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>Projects</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-headset"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>PhotoShoots </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="bi bi-award"></i>
            <span data-purecounter-start="0" data-purecounter-end="24" data-purecounter-duration="1" class="purecounter"></span>
            <p>Awards</p>
          </div>
        </div>

      </div>

    </div><!-- End Counts --> 

    <!-- ======= Skills  ======= -->
    <div class="skills container">

      <div class="section-title">
        <h2>Key Aims</h2>
      </div>

      <div class="row skills-content">

        <div class="col-lg-6">

          <div class="progress">
            <span class="skill">
              Global partnerships with top agencies and clients 
               
               <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Strong Relationships with industry professionals <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>

          <div class="progress">
            <span class="skill">Access to exclusive casting opportunities <i class="val">75%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Skills --> 

  </section><!-- End About Section -->


  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Services</h2>
        <p>Our Services</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            {% comment %} <div class="icon"><i class="bx bxl-dribbble "></i></div> {% endcomment %}
            <div class="icon"><i class="bx bxs-camera"></i></div>
            <h4><a href="">PhotoShoot</a></h4>
            <p>We provide quality, mind-blowing shoot outs at affordable prices</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-female"></i></div>
            <h4><a href="">Hiring</a></h4>
            <p>We also hire out our models for movie or scene productions at reasonable prices</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4><a href="">Women Empowerment</a></h4>
            <p>We undertake projects and programmes with the sole intiative of empowering young girls</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4><a href="">Partnership</a></h4>
            <p>Our arms are always wide open to welcome partners from across the globe</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Portfolio Section ======= -->
  <section id="models" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Our Models</h2>
        <p>Our Models</p>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-photoshoot">Photoshoot</li>
            <li data-filter=".filter-commercial">Commercial</li>
            <li data-filter=".filter-runway">Runway</li>
            <li data-filter=".filter-body-part">Body-part</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        {% for image in images%}
         <div class="col-lg-4 col-md-6 portfolio-item filter-{{image.name}}">
          <div class="portfolio-wrap">
            <img src={{image.imageURL}} class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Name: {{image.name1}}</h4>
              <h4>Height: {{image.height}}</h4>
              <h4>Age: {{image.age}}</h4>
              <h4>Nationality: {{image.nationality}}</h4>
              <div class="portfolio-links">
                <a href={{image.imageURL}} data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hi, I'm {{image.name1}}, a {{image.age}}yr old {{image.nationality}} {{image.name}} model of EltonShotit Model Agency."><i class="bx bx-plus"></i></a>
                {% comment %} <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external" class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a> {% endcomment %}
              </div>
            </div>
          </div>
        </div>

        {% endfor%}

      </div>

    </div>
  </section><!-- End Portfolio Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Me</p>
      </div>

      <div class="row mt-2">

        <div class="col-md-6 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>Our Address</h3>
            <p>KNUST, Ayeduase near Architecture block</p>
          </div>
        </div>

        <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-share-alt"></i>
            <h3>Social Profiles</h3>
            <div class="social-links">
              <a href="https://www.tiktok.com/@eltonshotitagency" target="_blank" class="twitter"><i class="bi bi-tiktok"></i></a>
              <a href="https://web.facebook.com/profile.php?id=61550317344313" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/eltonshotit/" class="instagram" target="_blank"><i class="bi bi-instagram"></i></a>
              {% comment %} <a href="#" class="google-plus"><i class="bi bi-skype"></i></a> {% endcomment %}
              {% comment %} <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> {% endcomment %}
            </div>
          </div>
        </div>

        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>Email Me</h3>
            <p>eltonshotit01@gmail.com</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 d-flex align-items-stretch">
          <div class="info-box">
            <i class="bx bx-phone-call"></i>
            <h3>Call Me</h3>
            <p>+233 24 811 4539</p>
          </div>
        </div>
      </div>

      <form action="https://formspree.io/f/mldrkalr" method="POST" role="form" class="php-email-form mt-4">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <a href="index">
          <div class="text-center"><button type="submit">Send Message</button></div>
        </a>
        {% comment %} <div class="text-center"><button type="submit">Send Message</button></div> {% endcomment %}
      </form>

    </div>
  </section><!-- End Contact Section -->



  <!-- Vendor JS Files -->
  <script src={% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}></script>
  <script src={% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}></script>
  <script src={% static 'assets/vendor/glightbox/js/glightbox.min.js' %}></script>
  <script src={% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}></script>
  <script src={% static 'assets/vendor/swiper/swiper-bundle.min.js' %}></script>
  <script src={% static 'assets/vendor/waypoints/noframework.waypoints.js' %}></script>
  <script src={% static 'assets/vendor/php-email-form/validate.js' %}></script>

  <!-- Template Main JS File -->
  <script src={% static 'assets/js/main.js' %}></script>
  <script src={% static 'assets/js/main2.js' %}></script>

</body>

</html>